# Copy this file to .env and fill in your values.

# Both values of GEOCODE_API_KEY and NEXT_PUBLIC_MAP_API_KEY
# can be the same Mapy.com key, or you can create separate keys,
# eg. for monitoring usage separately, or different security settings.

# Mapy.com API key — server-side only, used by the /api/geocode proxy route.
# It is not exposed to the client.
GEOCODE_API_KEY=your_key_here

# Mapy.com API key — exposed to the browser, used to get a map tile in FirmaMap component.
# It is exposed to the client.
NEXT_PUBLIC_MAP_API_KEY=your_key_here
